[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = false
name = "pytorch"

[packages]
opencv-python = "*"
numpy = "*"
matplotlib = "*"
ipykernel = "*"
torch = {version="*", index="pytorch"}
torchvision = {version="*", index="pytorch"}
torchaudio = {version="*", index="pytorch"}

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
